{
  "trailingComma": "all",
  "singleQuote": true,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": ".editorconfig",
      "options": {
        "parser": "yaml"
      }
    }
  ],
  "plugins": ["prettier-plugin-organize-imports"]
}
